# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Local env files
.env
.env.*
!.env.example

# TypeScript Next.js env typing
next-env.d.ts

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
dist

# Misc
.DS_Store
*.pem

# Docker volume
.postgres

# Local files
*.local.*